$button-color: orange;

/*NULL*/
h1,h2,h3,p{margin: 0;}
/*NULL*/

body {
  display: flex;
  justify-content: center;
}

.wrapper{
    max-width: 670px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #46b1de;
    margin-bottom: 15px;
}
.article{
    background-color: olivedrab;
}
.article__title{
    margin-bottom: 10px;
}
.article__title h2{
    text-align: center;
}

//BUTTONS

.buttons-container {
 display: flex;
 justify-content: space-around;
}

.article__actions__block {
  display: flex;
  justify-content: space-around;
}

.article-button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
  border: transparent;
  background-color: $button-color;
  transition: 0.2s;

  &:hover {
    background-color: rgb(196, 127, 0);
  }
}

.author-container {
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.article__actions{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding-bottom: 15px;
}

.article__btn{
  font-weight: 600;
  padding: 5px 20px;
  background-color: orange;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
  min-width: 172px;
  cursor: pointer;
  &:hover {
      color: #fff;
  }
}

.buttons-container {
    display: flex;
    justify-content: space-around;
   }
   
   .article-button {
     margin: 5px;
     padding: 5px 10px;
     border-radius: 3px;
     font-weight: 600;
     border: transparent;
     background-color: $button-color;
     transition: 0.2s;
   
     &:hover {
       background-color: rgb(196, 127, 0);
     }
   }

.lang{
    display: flex;
    margin-top: 5px;
}
.lang-btn{
    background-color: #46b1de;
    color: #fff;
    border: 2px solid darkblue;
    padding: 3px 10px;
    display: block;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.lang-btn:not(:last-child){
    margin-right: 50px;
}
.lang-btn.active{
    background-color: rgb(81, 103, 36);
    border: 2px solid rgb(0, 0, 0);
}